body{
    color: blue;
    /* background-color: red; */
}

.prrint-btn{
    display: none;
}

.pagebreak{
    page-break-after: always;
}

.header{
    position: static;

    -webkit-print-color-adjust : exact; /*for color*/
}

.content{
    -webkit-print-color-adjust : exact;
    padding: 0 50px;
    margin: 0 auto;
}

@page{
    margin: 0;
    size: Legal;
}